.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio_item {
    margin-top: 150px;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 1.2rem;
    border: 1px solid transparent;
}

.portfolio_item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.portfolio_img img{
    border-radius: 0.4rem;
}

.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}

h2 {
    position: relative;
    top: 50px;
}

/* Medium Devices */
@media screen and (max-width: 1024px) {
    .portfolio_item {
        width: 60%;
    }

    .portfolio_item-cta {
        gap: 3rem;
    }
}

/* Small Devices */
@media screen and (max-width: 600px) {
    .portfolio_item {
        width: 60%;
        height: 50%;
        position: relative;
        right: 16px;
    }

    .portfolio_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0rem;
    }

    .demo {
        display: none;
    }

    .gh {
        padding-right: 12px;
        position: relative;
        right: 11px;
    }
}