.container.contactContainer {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contactOptions {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contactOption {
    position: relative;
    top: 100px;
    background: rgba(0, 0, 0, .3);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contactOption-icon {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.contactOption a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: .9rem;
    color: var(--color-primary);
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    position: relative;
    top: 100px;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary);
    resize: none;
    color: white;
}

.btn.sendMessage {
    background-color: var(--color-primary);
    margin-top: 100px;
}